
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
tmp/

# docker data
db_data/

# dependencies
node_modules/

# python build files
__pycache__/

# misc
.vscode/
.DS_Store
